.news-list a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  margin-bottom: 15px;
}

.news-list img {
  width: 90px; /* kecilkan gambar */
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}

.news-list h3 {
  margin: 0;
  font-size: 0.95em; /* kecilkan font */
  font-weight: bold;
  line-height: 1.3em;
}

.news-list small {
  color: gray;
  font-size: 0.78em;
}
